# Natural Language Processing

This project will give you practical experience using Natural Language Processing techniques. This project is in three parts:
- in part 1) you will use a traditional dataset in a CSV file
- in part 2) you will use the Wikipedia API to directly access content
on Wikipedia.
- in part 3) you will make your notebook interactive

### Part 1)

- The CSV file is available at https://ddc-datascience.s3.amazonaws.com/Projects/Project.5-NLP/Data/NLP.csv
- The file contains a list of famous people and a brief overview.
- The goal of part 1) is provide the capability to
  - Take one person from the list as input and output the 10 other people who's overview are "closest" to the person in a Natural Language Processing sense
  - Also output the sentiment of the overview of the person

Make an interactive notebook.

In addition to presenting the project slides, at the end of the presentation each student will demonstrate their code using a famous person suggested by the other students that exists in the DBpedia set.

In [1]:
%%capture
# Download corpora
!python -m textblob.download_corpora

In [2]:
import numpy as np
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
from textblob import TextBlob
import pandas as pd
from io import StringIO
from sklearn.metrics.pairwise import cosine_similarity
import nltk
from nltk.corpus import stopwords
from sklearn.neighbors import NearestNeighbors
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger_eng')
nltk.download('stopwords')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/joeyrobak/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/joeyrobak/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package punkt to /Users/joeyrobak/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     /Users/joeyrobak/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger_eng is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/joeyrobak/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
path = '/Users/joeyrobak/Downloads/NLP.xlsx'
df=pd.read_excel(path)
df.head()

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

In [4]:
text = df['text'] #[0:50]

In [5]:
text = text.str.lower()

In [6]:
text

0        digby morrell born 10 october 1979 is a former...
1        alfred j lewy aka sandy lewy graduated from un...
2        harpdog brown is a singer and harmonica player...
3        franz rottensteiner born in waidmannsfeld lowe...
4        henry krvits born 30 december 1974 in tallinn ...
                               ...
42781    motoaki takenouchi born july 8 1967 saitama pr...
42782    alan graham judge born 14 may 1960 is a retire...
42783    eduardo lara lozano born 4 september 1959 in c...
42784    tatiana faberg is an author and faberg scholar...
42785    kenneth thomas born february 24 1938 was chief...
Name: text, Length: 42786, dtype: object

In [7]:
sentiment = text.apply(lambda x: TextBlob(x).sentiment)

In [8]:
sentiment.sort_values()

25962                                  (-0.8, 1.0)
14143    (-0.4321428571428572, 0.7821428571428571)
1290                 (-0.42500000000000004, 0.475)
30126    (-0.3821428571428572, 0.6535714285714286)
34978               (-0.35625, 0.6131944444444446)
                           ...
1126      (0.5166666666666667, 0.2972222222222222)
4977      (0.5230909090909092, 0.4163030303030303)
29271     (0.5249999999999999, 0.4933333333333333)
331                      (0.5333333333333333, 0.5)
30155     (0.5593394886363636, 0.4389441287878789)
Name: text, Length: 42786, dtype: object

In [9]:
df['sentiment']=sentiment

In [10]:
df

,URI,name,text,sentiment
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...,"(-0.041666666666666664, 0.17896825396825394)"
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...,"(0.2186607142857143, 0.5276785714285714)"
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...,"(0.24754901960784317, 0.3892156862745098)"
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...,"(0.04795574795574796, 0.3609547859547859)"
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...,"(0.34924242424242424, 0.5173821548821549)"
...,...,...,...,...
42781,<http://dbpedia.org/resource/Motoaki_Takenouchi>,Motoaki Takenouchi,motoaki takenouchi born july 8 1967 saitama pr...,"(0.057575757575757565, 0.3984848484848485)"
42782,<http://dbpedia.org/resource/Alan_Judge_(footb...,"Alan Judge (footballer, born 1960)",alan graham judge born 14 may 1960 is a retire...,"(0.017857142857142856, 0.2976190476190476)"
42783,<http://dbpedia.org/resource/Eduardo_Lara>,Eduardo Lara,eduardo lara lozano born 4 september 1959 in c...,"(0.11477272727272729, 0.38181818181818183)"
42784,<http://dbpedia.org/resource/Tatiana_Faberg%C3...,Tatiana Faberg%C3%A9,tatiana faberg is an author and faberg scholar...,"(0.1805785123966942, 0.5140495867768595)"
42785,<http://dbpedia.org/resource/Kenneth_Thomas>,Kenneth Thomas,kenneth thomas born february 24 1938 was chief...,"(0.05142292490118579, 0.34561264822134385)"

In [11]:
tokenized_data = []

# Loop through each row in the data series
for _ in text:
    # Convert the text to a TextBlob
    blob = TextBlob(_)
    # Tokenize the text by words
    tokens = blob.words
    # Append the tokens to the new list
    tokenized_data.append(tokens)

# Convert the list of tokens back into a pandas Series if needed
tokenized_series = pd.Series(tokenized_data)
print(tokenized_series)

0        [digby, morrell, born, 10, october, 1979, is, ...
1        [alfred, j, lewy, aka, sandy, lewy, graduated,...
2        [harpdog, brown, is, a, singer, and, harmonica...
3        [franz, rottensteiner, born, in, waidmannsfeld...
4        [henry, krvits, born, 30, december, 1974, in, ...
                               ...
42781    [motoaki, takenouchi, born, july, 8, 1967, sai...
42782    [alan, graham, judge, born, 14, may, 1960, is,...
42783    [eduardo, lara, lozano, born, 4, september, 19...
42784    [tatiana, faberg, is, an, author, and, faberg,...
42785    [kenneth, thomas, born, february, 24, 1938, wa...
Length: 42786, dtype: object

In [12]:
stop_words = set(stopwords.words('english'))

filtered_data = tokenized_series.apply(lambda tokens: [word for word in tokens if word not in stop_words])

print(filtered_data)

0        [digby, morrell, born, 10, october, 1979, form...
1        [alfred, j, lewy, aka, sandy, lewy, graduated,...
2        [harpdog, brown, singer, harmonica, player, ac...
3        [franz, rottensteiner, born, waidmannsfeld, lo...
4        [henry, krvits, born, 30, december, 1974, tall...
                               ...
42781    [motoaki, takenouchi, born, july, 8, 1967, sai...
42782    [alan, graham, judge, born, 14, may, 1960, ret...
42783    [eduardo, lara, lozano, born, 4, september, 19...
42784    [tatiana, faberg, author, faberg, scholar, swi...
42785    [kenneth, thomas, born, february, 24, 1938, ch...
Length: 42786, dtype: object

In [13]:
lemmatizer = WordNetLemmatizer()
lemitized_data = filtered_data.apply(lambda tokens: [lemmatizer.lemmatize(word) for word in tokens])

In [14]:
df['clean_text']=lemitized_data

In [15]:
df

,URI,name,text,sentiment,clean_text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...,"(-0.041666666666666664, 0.17896825396825394)","[digby, morrell, born, 10, october, 1979, form..."
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...,"(0.2186607142857143, 0.5276785714285714)","[alfred, j, lewy, aka, sandy, lewy, graduated,..."
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...,"(0.24754901960784317, 0.3892156862745098)","[harpdog, brown, singer, harmonica, player, ac..."
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...,"(0.04795574795574796, 0.3609547859547859)","[franz, rottensteiner, born, waidmannsfeld, lo..."
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...,"(0.34924242424242424, 0.5173821548821549)","[henry, krvits, born, 30, december, 1974, tall..."
...,...,...,...,...,...
42781,<http://dbpedia.org/resource/Motoaki_Takenouchi>,Motoaki Takenouchi,motoaki takenouchi born july 8 1967 saitama pr...,"(0.057575757575757565, 0.3984848484848485)","[motoaki, takenouchi, born, july, 8, 1967, sai..."
42782,<http://dbpedia.org/resource/Alan_Judge_(footb...,"Alan Judge (footballer, born 1960)",alan graham judge born 14 may 1960 is a retire...,"(0.017857142857142856, 0.2976190476190476)","[alan, graham, judge, born, 14, may, 1960, ret..."
42783,<http://dbpedia.org/resource/Eduardo_Lara>,Eduardo Lara,eduardo lara lozano born 4 september 1959 in c...,"(0.11477272727272729, 0.38181818181818183)","[eduardo, lara, lozano, born, 4, september, 19..."
42784,<http://dbpedia.org/resource/Tatiana_Faberg%C3...,Tatiana Faberg%C3%A9,tatiana faberg is an author and faberg scholar...,"(0.1805785123966942, 0.5140495867768595)","[tatiana, faberg, author, faberg, scholar, swi..."
42785,<http://dbpedia.org/resource/Kenneth_Thomas>,Kenneth Thomas,kenneth thomas born february 24 1938 was chief...,"(0.05142292490118579, 0.34561264822134385)","[kenneth, thomas, born, february, 24, 1938, ch..."

In [16]:
text_data = [' '.join(doc) for doc in lemitized_data]

my_vectorizer = CountVectorizer(stop_words='english')

my_bow_vec = my_vectorizer.fit_transform(text_data)

In [17]:
tf_idf_vec = TfidfTransformer()
tf_idf_fit = tf_idf_vec.fit_transform(my_bow_vec)

In [19]:
tf_idf_fit.shape

(42786, 423599)

In [19]:
nn = NearestNeighbors().fit(tf_idf_fit)

In [20]:
df.loc[df['name'] == 'Christian Bale']

,URI,name,text,sentiment,clean_text
39695,<http://dbpedia.org/resource/Christian_Bale>,Christian Bale,christian charles philip bale born 30 january ...,"(0.18916666666666665, 0.2966666666666667)","[christian, charles, philip, bale, born, 30, j..."

In [21]:
sent = tf_idf_fit[39695]
sent.shape

(1, 423599)

In [22]:
distances, indices = nn.kneighbors(
    X = sent,
    n_neighbors=11
)

In [25]:
distance_df = pd.DataFrame({'indices': indices.flatten(), 'distances': distances.flatten()})

In [27]:
distance_df

    indices  distances
0     39695   0.000000
1     28070   1.201615
2      5875   1.212054
3      4672   1.212396
4     11156   1.212695
5     39923   1.217291
6     34836   1.224546
7     13993   1.233194
8     29556   1.233400
9     38372   1.235514
10    12808   1.245207

In [28]:
name_locations = distance_df['indices'][0:11]

In [30]:
target=df.iloc[(list(name_locations))]
target

,URI,name,text,sentiment,clean_text
39695,<http://dbpedia.org/resource/Christian_Bale>,Christian Bale,christian charles philip bale born 30 january ...,"(0.18916666666666665, 0.2966666666666667)","[christian, charles, philip, bale, born, 30, j..."
28070,<http://dbpedia.org/resource/Amy_Adams>,Amy Adams,amy lou adams born august 20 1974 is an americ...,"(0.22387387387387386, 0.28175675675675677)","[amy, lou, adam, born, august, 20, 1974, ameri..."
5875,<http://dbpedia.org/resource/Michael_Keaton>,Michael Keaton,michael john douglas born september 5 1951 bet...,"(0.1886679292929293, 0.38437499999999997)","[michael, john, douglas, born, september, 5, 1..."
4672,<http://dbpedia.org/resource/Daniel_Day-Lewis>,Daniel Day-Lewis,sir daniel michael blake daylewis kt born 29 a...,"(0.2114583333333333, 0.3815972222222222)","[sir, daniel, michael, blake, daylewis, kt, bo..."
11156,<http://dbpedia.org/resource/Anne_Hathaway>,Anne Hathaway,anne jacqueline hathaway born november 12 1982...,"(0.25546536796536795, 0.35633116883116883)","[anne, jacqueline, hathaway, born, november, 1..."
39923,<http://dbpedia.org/resource/Jack_Nicholson>,Jack Nicholson,john joseph jack nicholson born april 22 1937 ...,"(0.23333333333333334, 0.4002604166666667)","[john, joseph, jack, nicholson, born, april, 2..."
34836,<http://dbpedia.org/resource/Michael_Caine>,Michael Caine,sir michael caine cbe ken born maurice joseph ...,"(0.20304054054054052, 0.32747747747747746)","[sir, michael, caine, cbe, ken, born, maurice,..."
13993,<http://dbpedia.org/resource/Ralph_Fiennes>,Ralph Fiennes,ralph nathaniel twisletonwykehamfiennes ref fa...,"(0.3046875, 0.3194444444444444)","[ralph, nathaniel, twisletonwykehamfiennes, re..."
29556,<http://dbpedia.org/resource/Felicity_Huffman>,Felicity Huffman,felicity kendall huffman born december 9 1962 ...,"(0.215, 0.40374999999999994)","[felicity, kendall, huffman, born, december, 9..."
38372,<http://dbpedia.org/resource/Liam_Neeson>,Liam Neeson,liam john neeson obe born 7 june 1952 is an ir...,"(0.4015625, 0.40156249999999993)","[liam, john, neeson, obe, born, 7, june, 1952,..."
12808,<http://dbpedia.org/resource/Tom_Hanks>,Tom Hanks,thomas jeffrey tom hanks born july 9 1956 is a...,"(0.2722222222222222, 0.34583333333333327)","[thomas, jeffrey, tom, hank, born, july, 9, 19..."

In [31]:
target['nn_distance_1']=distance_df['distances']

/var/folders/nl/cvxy58ks2mg_jyg002l659xc0000gn/T/ipykernel_42883/1011115486.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target['nn_distance_1']=distance_df['distances']

Couple of fun ones:
- 42475 Jim Carrey
- 24428 Brad Pitt
- 39695 Christian Bale

In [32]:
#df.reset_index(inplace=True)
distance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   indices    11 non-null     int64
 1   distances  11 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 308.0 bytes

In [33]:
fig = px.line(
    
    x = None,
    y = distance_df['distances'])
fig.update_layout(
    title="Nearest Neighbors of Wikipedia Dataset",
    xaxis_title='50 Closest Neighbors to Christian Bale',
    yaxis_title='Distance'
    )
fig.show()

### Part 2)

In [34]:
%%capture
!pip3 install wikipedia-api

In [35]:
import wikipediaapi

In [36]:
def get_wiki_text(person_name):
    wikip = wikipediaapi.Wikipedia(user_agent = 'foobar')
    page = wikip.page(person_name)
    if page.exists():
        return page.text
    else:
        return None

In [37]:
print(get_wiki_text("Christian Bale"))

Christian Charles Philip Bale (born 30 January 1974) is an English actor. Known for his versatility and physical transformations for his roles, he has been a leading man in films of several genres. He has received various accolades, including an Academy Award and two Golden Globe Awards. Forbes magazine ranked him as one of the highest-paid actors in 2014.
Born in Wales to English parents, Bale had his breakthrough role at age 13 in Steven Spielberg's 1987 war film Empire of the Sun. After more than a decade of performing in leading and supporting roles in films, he gained wider recognition for his portrayals of serial killer Patrick Bateman in the black comedy American Psycho (2000) and the title role in the psychological thriller The Machinist (2004). In 2005, he played superhero Batman in Batman Begins and again in The Dark Knight (2008) and The Dark Knight Rises (2012), garnering acclaim for his performance in the trilogy, which is one of the highest-grossing film franchises.
Bale continued in starring roles in a range of films outside his work as Batman, including the period drama The Prestige (2006), the action film Terminator Salvation (2009), the crime drama Public Enemies (2009), the epic film Exodus: Gods and Kings (2014) and the superhero film Thor: Love and Thunder (2022). For his portrayal of boxer Dicky Eklund in the 2010 biographical film The Fighter, he won an Academy Award and a Golden Globe Award. Further Academy Award and Golden Globe Award nominations came for his work in the black comedy American Hustle (2013) and the biographical dramedies The Big Short (2015) and Vice (2018). His performances as politician Dick Cheney in Vice and race car driver Ken Miles in the sports drama Ford v Ferrari (2019) earned him a second win and a fifth nomination respectively at the Golden Globe Awards.

Early life
Christian Charles Philip Bale was born on 30 January 1974 in Haverfordwest, Pembrokeshire, to English parents—Jenny James, a circus performer, and David Bale, an entrepreneur and activist. Bale has remarked, "I was born in Wales but I'm not Welsh—I'm English." He has two elder sisters, Sharon and Louise, and a half-sister from his father's first marriage, Erin. One of his grandfathers was a comedian while the other was a stand-in for John Wayne. Bale and his family left Wales when he was two years old, and after living in Portugal and Oxfordshire, England, they settled in Bournemouth. As well as saying that the family had lived in 15 towns by the time he was 15, Bale described the frequent relocation as being driven by "necessity rather than choice" and acknowledged that it had a major influence on his career selection. He attended Bournemouth School, later saying he left school at age 16. Bale's parents divorced in 1991, and at age 17, he moved with his sister Louise and their father to Los Angeles.
Bale trained in ballet as a child. His first acting role came at eight years old in a commercial for the fabric softener Lenor. He also appeared in a Pac-Man cereal commercial. After his sister was cast in a West End musical, Bale considered taking up acting professionally. He said later he did not find acting appealing but pursued it at the request of those around him because he had no reason not to do so. After participating in school plays, Bale performed opposite Rowan Atkinson in the play The Nerd in the West End in 1984. He did not undergo any formal acting training.

Career
Early roles and breakthrough (1986–1999)
After deciding to become an actor at age ten, Bale secured a minor role in the 1986 television film Anastasia: The Mystery of Anna. Its star, Amy Irving, who was married to director Steven Spielberg, subsequently recommended Bale for Spielberg's 1987 film Empire of the Sun. At age 13, Bale was chosen from over 4,000 actors to portray a British boy in a World War II Japanese internment camp. For the film, he spoke with an upper-class cadence without the help of a dialogue coach. The role propelled Bale to fame, and his work earned him acclaim and the inaugural Best Performance by a Juvenile Actor Award from the National Board of Review of Motion Pictures. Earlier in the same year, he starred in the fantasy film Mio in the Land of Faraway, based on the novel Mio, My Son by Astrid Lindgren. The fame from Empire of the Sun led to Bale being bullied in school and finding the pressures of working as an actor unbearable. He grew distrustful of the acting profession because of media attention but said that he felt obligated at a young age to continue to act for financial reasons. Around this time, actor and filmmaker Kenneth Branagh persuaded Bale to appear in his film Henry V in 1989, which drew him back into acting. The following year, Bale played Jim Hawkins opposite Charlton Heston as Long John Silver in Treasure Island, a television film adaptation of Robert Louis Stevenson's book of the same name.
Bale starred in the 1992 Disney musical film Newsies, which was unsuccessful both at the box office and with critics. Rebecca Milzoff of Vulture revisited the film in 2012 and found the cracks in Bale's voice during his performance of the song "Santa Fe" charming and apt even though he was not a great singer. In 1993, he appeared in Swing Kids, a film about teenagers who secretly listen to forbidden jazz during the rise of Nazi Germany. In Gillian Armstrong's 1994 film Little Women, Bale played Theodore "Laurie" Laurence following a recommendation from Winona Ryder, who starred as Jo March. The film achieved critical and commercial success. Of Bale's performance, Ryder said he captured the complex nature of the role. He next voiced Thomas, a young compatriot of Captain John Smith, in the 1995 Disney animated film Pocahontas, which attracted a mixed critical reception. Bale played a small part in the 1996 film The Portrait of a Lady, based on the Henry James novel of the same name, and appeared in the 1998 musical film Velvet Goldmine, set in the 1970s during the glam rock era. In 1999, he was part of an ensemble cast, which included Kevin Kline and Michelle Pfeiffer, portraying Demetrius in A Midsummer Night's Dream, a film adaptation of William Shakespeare's play of the same name.

Rise to prominence and commercial decline (2000–2004)
Bale played Patrick Bateman, an investment banker and serial killer, in American Psycho, a film adaptation of Bret Easton Ellis's novel of the same name, directed by Mary Harron. While Harron had chosen Bale for the part, the film's production and distribution company, Lionsgate, originally disagreed and hired Leonardo DiCaprio to play Bateman with Oliver Stone to direct. Bale and Harron were brought back after DiCaprio and Stone had left the project. Bale exercised and tanned himself for months to achieve Bateman's chiseled physique and had his teeth capped to assimilate to the character's narcissistic nature. American Psycho premiered at the 2000 Sundance Film Festival. Harron said critic Roger Ebert named it the most hated film at the event. Of Bale's work, Ebert wrote he "is heroic in the way he allows the character to leap joyfully into despicability; there is no instinct for self-preservation here, and that is one mark of a good actor." The film was released in April 2000, becoming a commercial and critical success and later developing a cult following; the role established Bale as a leading man.
In the four years that followed American Psycho, Bale's career experienced critical and commercial failure. He next played a villainous real estate heir in John Singleton's action film Shaft and appeared in John Madden's film adaptation of the Louis de Bernières novel Captain Corelli's Mandolin as Mandras, a Greek fisherman who vies with Nicolas Cage's title character for the affections of Pelagia, played by Penélope Cruz. Bale said he found it refreshing to play Mandras, who is emotionally humane, after working on American Psycho and Shaft. In 2002, he appeared in three films: Laurel Canyon, Reign of Fire and Equilibrium. Reviewing Laurel Canyon for Entertainment Weekly, Lisa Schwarzbaum called Bale's performance "fussy". After having reservations about joining the post-apocalyptic Reign of Fire, which involved computer-generated imagery, Bale professed his enjoyment of making films that could go awry and cited director Rob Bowman as a reason for his involvement. In Equilibrium, he plays a police officer in a futuristic society and performs gun kata, a fictional martial art that incorporates gunfighting. IGN's Jeff Otto characterised Reign of Fire as "poorly received" and Equilibrium as "highly underrated", while The Independent's Stephen Applebaum described the two films along with Shaft and Captain Corelli's Mandolin as "mediocre fare".
Bale starred as the insomnia-ridden, emotionally dysfunctional title character in the psychological thriller The Machinist. To prepare for the role, he initially only smoked cigarettes and drank whiskey. His diet later expanded to include black coffee, an apple and a can of tuna per day. Bale lost 63 pounds (29 kg), weighing 121 pounds (55 kg) to play the character, who was written in the script as "a walking skeleton". His weight loss prompted comparisons with Robert De Niro's weight gain in preparation to play Jake LaMotta in the 1980 film Raging Bull. Describing his transformation as mentally calming, Bale claimed he had stopped working for a while because he did not come upon scripts that piqued his interest and that the film's script drew him to lose weight for the part. The Machinist was released in October 2004; it performed poorly at the box office. Roger Moore of the Orlando Sentinel regarded it as one of the best films of the year, and Todd McCarthy of Variety wrote that Bale's "haunted, aggressive and finally wrenching performance" gave it a "strong anchor".

Batman and dramatic roles (2005–2008)
Bale portrayed American billionaire Bruce Wayne and his superhero alias Batman in Christopher Nolan's Batman Begins, a reboot of the Batman film series. Nolan cast Bale, who was still fairly unknown at the time, because Bale had "exactly the balance of darkness and light" Nolan sought. For the part, Bale regained the weight he lost for The Machinist and built muscle, weighing 220 pounds (100 kg). He trained in weapons, Wing Chun Kung Fu and the Keysi Fighting Method. Acknowledging the story's peculiar circumstances involving a character "who thinks he can run around in a batsuit in the middle of the night", Bale said he and Nolan had deliberately approached it with "as realistic a motivation as possible", referencing Wayne's parents' murder. Bale voiced Wayne and Batman differently. He employed gravelly tone qualities for Batman, which Nolan believed reinforced the character's visual appearance. Batman Begins was released in the US in June 2005. Tim Grierson and Will Leitch of Vulture complimented Bale's "sensitive, intelligent portrayal of a spoiled, wayward Bruce who finally grows up (and fights crime)." The performance earned Bale the MTV Movie Award for Best Hero.
In the same year, Bale voiced the titular Howl, a wizard, in the English-language dub of Hayao Miyazaki's Howl's Moving Castle, a Japanese animated film adaptation of Diana Wynne Jones's novel of the same name. He committed himself to voice the role after watching Miyazaki's animated film Spirited Away. Later that year, he starred as a US war veteran who deals with post-traumatic stress disorder in the David Ayer-helmed crime drama Harsh Times, which premiered at the Toronto International Film Festival. He portrayed colonist John Rolfe in The New World, a historical drama film inspired by the stories of Pocahontas, directed by Terrence Malick. The film was released on 25 December 2005. The following year saw the premiere of Rescue Dawn, by German filmmaker Werner Herzog, in which Bale portrayed US fighter pilot Dieter Dengler, who fights for his life after being shot down while on a mission during the Vietnam War. After the two worked together, Herzog stated that he had considered Bale to be among his generation's greatest talents long before he played Batman. The Austin Chronicle's Marjorie Baumgarten viewed Bale's work as a continuance of his "masterful command of yet another American personality type."
For the 2006 film The Prestige, Bale reunited with Batman Begins director Nolan, who said that Bale was cast after offering himself for the part. It is based on the novel of the same name by Christopher Priest about a rivalry between two Victorian era magicians, whom Bale and Hugh Jackman play in the film. While it attracted acclaim from critics, the film performed more modestly during its run in theatres, earning $110 million against a $40 million budget. In his review for The New York Times, A. O. Scott highlighted Bale's "fierce inwardness" and called his performance "something to savor". Bale next starred in the 2007 drama films I'm Not There, portraying two incarnations of singer-songwriter Bob Dylan, and in 3:10 to Yuma, playing a justice-seeking cattleman. He characterised his Dylan incarnations as "two men on a real quest for truth" and attributed his interest in 3:10 to Yuma to his affinity for films where he gets to "just be dirty and crawling in the mud". Bale reprised the role of Batman in Nolan's Batman Begins sequel The Dark Knight, which received acclaim and became the fourth film to gross more than $1 billion worldwide upon its July 2008 release. He did many of his own stunts, including one that involved standing on the roof of the Sears Tower in Chicago. The Dark Knight has been regarded by critics as the best superhero film.

The Dark Knight trilogy completion and acclaim (2009–2012)
In February 2008, Warner Bros. announced that Bale would star as rebellion leader John Connor in the post-apocalyptic action film Terminator Salvation, directed by McG, who cited Bale as "the most credible actor of his generation". In February 2009, an audio recording of a tirade on the film's set in July 2008 involving Bale was released. It captured him directing profanities towards and threatening to attack the film's cinematographer Shane Hurlbut, who walked onto the set during the filming of a scene acted by Bale and Bryce Dallas Howard, and culminated in Bale threatening to quit the film if Hurlbut was not fired. Several colleagues in the film industry defended Bale, attributing the incident to his dedication to acting. Bale publicly apologised in February 2009, calling the outburst "inexcusable" and his behaviour "way out of order" and affirming to have made amends with Hurlbut. Terminator Salvation was released in May 2009 to tepid reviews. Claudia Puig of USA Today considered Bale's work to be "surprisingly one-dimensional", while The Age's Jake Wilson wrote he gave one of his least compelling performances. Bale later admitted he knew during production that the film would not revitalise the Terminator franchise as he had wished. He asserted he would not work with McG again.

Bale portrayed FBI agent Melvin Purvis opposite Johnny Depp as gangster John Dillinger in Michael Mann's crime drama Public Enemies. Released in July 2009, it earned critical praise and had a commercially successful theatrical run. Dan Zak of The Washington Post was unsatisfied with the casting of Bale and Depp, believing their characters' rivalry lacked electricity, while The New Republic's Christopher Orr found Bale's "characteristically closed off" performance "nonetheless effective". The following year, Bale starred in the role of Dicky Eklund, a professional boxer whose career has ended due to his drug addiction, in David O. Russell's drama film The Fighter. It chronicles the relationship between Eklund and his brother and boxing trainee, Micky Ward, played by Mark Wahlberg. To balance Eklund's tragic condition, Bale incorporated humor in his characterisation. The portrayal, for which he lost 30 pounds (14 kg), was acclaimed, the San Francisco Chronicle's Mick LaSalle describing it as "shrewdly observed, physically precise and psychologically acute". Bale won the Academy Award for Best Supporting Actor and the Golden Globe Award for Best Supporting Actor – Motion Picture for his performance. In 2011, he starred in Zhang Yimou's historical drama film The Flowers of War, which was the highest-grossing Chinese film of the year. Critics described it as "nationalistic", "anti-Japanese" and "too long, too melodramatic, too lightweight".
Bale played Batman again under Christopher Nolan's direction in the sequel The Dark Knight Rises, released in July 2012. He described Batman in the film as a remorseful recluse in poor mental and physical health, who has surrendered following the events of The Dark Knight. Following the shooting at a midnight showing of the film in Aurora, Colorado, Bale and his wife visited survivors, doctors and first responders at The Medical Center of Aurora as well as a memorial to victims. The Dark Knight Rises was the 11th film to gross more than $1 billion worldwide, surpassing The Dark Knight. Nolan's Batman film series, dubbed the Dark Knight trilogy, is one of the highest-grossing film franchises. It is also regarded as one of the best comic book film franchises. Bale's performance in the three films garnered universal acclaim, with The Guardian, The Indian Express, MovieWeb, NME and a poll conducted by the Radio Times ranking it as the best portrayal of Batman on film. Bale later revealed his dissatisfaction with his work throughout the trilogy, saying he "didn't quite nail" his part and that he "didn't quite manage" what he had hoped he would as Batman.

Continued critical success (2013–2018)
In 2013, Bale played a steel mill worker in Scott Cooper's thriller Out of the Furnace. Cooper rewrote the film's script with Bale in mind before the two even met and would not proceed with the project without the actor's involvement. Critics commended the film and deemed it an excellent beginning of the next phase in Bale's career after playing Batman, with Kristopher Tapley of Variety noting his work in the film was his best. That same year, he starred in American Hustle, which reunited him with David O. Russell after their work on The Fighter. To play con artist Irving Rosenfeld, Bale studied footage of interviews with real-life con artist Mel Weinberg, who served as inspiration for the character. He gained 43 pounds (20 kg), shaved part of his head and adopted a slouched posture, which reduced his height by 3 inches (7.6 cm) and caused him to suffer a herniated disc. Russell indicated that Robert De Niro, who appeared in an uncredited role, did not recognise Bale when they were first introduced. Writing for the New York Daily News, Joe Neumaier found Bale's performance to be "sad, funny and riveting". He was nominated for an Academy Award and a Golden Globe Award for his work.

In [38]:
target['full_text'] = target['name'].apply(get_wiki_text)

/var/folders/nl/cvxy58ks2mg_jyg002l659xc0000gn/T/ipykernel_42883/4005999237.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [39]:
target

,URI,name,text,sentiment,clean_text,nn_distance_1,full_text
39695,<http://dbpedia.org/resource/Christian_Bale>,Christian Bale,christian charles philip bale born 30 january ...,"(0.18916666666666665, 0.2966666666666667)","[christian, charles, philip, bale, born, 30, j...",NaN,Christian Charles Philip Bale (born 30 January...
28070,<http://dbpedia.org/resource/Amy_Adams>,Amy Adams,amy lou adams born august 20 1974 is an americ...,"(0.22387387387387386, 0.28175675675675677)","[amy, lou, adam, born, august, 20, 1974, ameri...",NaN,"Amy Lou Adams (born August 20, 1974) is an Ame..."
5875,<http://dbpedia.org/resource/Michael_Keaton>,Michael Keaton,michael john douglas born september 5 1951 bet...,"(0.1886679292929293, 0.38437499999999997)","[michael, john, douglas, born, september, 5, 1...",NaN,"Michael John Douglas (born September 5, 1951),..."
4672,<http://dbpedia.org/resource/Daniel_Day-Lewis>,Daniel Day-Lewis,sir daniel michael blake daylewis kt born 29 a...,"(0.2114583333333333, 0.3815972222222222)","[sir, daniel, michael, blake, daylewis, kt, bo...",NaN,Sir Daniel Michael Blake Day-Lewis (born 29 Ap...
11156,<http://dbpedia.org/resource/Anne_Hathaway>,Anne Hathaway,anne jacqueline hathaway born november 12 1982...,"(0.25546536796536795, 0.35633116883116883)","[anne, jacqueline, hathaway, born, november, 1...",NaN,"Anne Jacqueline Hathaway (born November 12, 19..."
39923,<http://dbpedia.org/resource/Jack_Nicholson>,Jack Nicholson,john joseph jack nicholson born april 22 1937 ...,"(0.23333333333333334, 0.4002604166666667)","[john, joseph, jack, nicholson, born, april, 2...",NaN,"John Joseph Nicholson (born April 22, 1937) is..."
34836,<http://dbpedia.org/resource/Michael_Caine>,Michael Caine,sir michael caine cbe ken born maurice joseph ...,"(0.20304054054054052, 0.32747747747747746)","[sir, michael, caine, cbe, ken, born, maurice,...",NaN,Sir Michael Caine (born Maurice Joseph Mickle...
13993,<http://dbpedia.org/resource/Ralph_Fiennes>,Ralph Fiennes,ralph nathaniel twisletonwykehamfiennes ref fa...,"(0.3046875, 0.3194444444444444)","[ralph, nathaniel, twisletonwykehamfiennes, re...",NaN,Ralph Nathaniel Twisleton-Wykeham-Fiennes (; b...
29556,<http://dbpedia.org/resource/Felicity_Huffman>,Felicity Huffman,felicity kendall huffman born december 9 1962 ...,"(0.215, 0.40374999999999994)","[felicity, kendall, huffman, born, december, 9...",NaN,"Felicity Kendall Huffman (born December 9, 196..."
38372,<http://dbpedia.org/resource/Liam_Neeson>,Liam Neeson,liam john neeson obe born 7 june 1952 is an ir...,"(0.4015625, 0.40156249999999993)","[liam, john, neeson, obe, born, 7, june, 1952,...",NaN,William John Neeson (born 7 June 1952) is a N...
12808,<http://dbpedia.org/resource/Tom_Hanks>,Tom Hanks,thomas jeffrey tom hanks born july 9 1956 is a...,"(0.2722222222222222, 0.34583333333333327)","[thomas, jeffrey, tom, hank, born, july, 9, 19...",NaN,"Thomas Jeffrey Hanks (born July 9, 1956) is an..."

In [40]:
full_text_df=target['full_text']

In [41]:
full_text_df = full_text_df.str.lower()

In [42]:
sentiment = full_text_df.apply(lambda x: TextBlob(x).sentiment)

In [43]:
target['full sentiment'] = sentiment

/var/folders/nl/cvxy58ks2mg_jyg002l659xc0000gn/T/ipykernel_42883/1294167596.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [44]:
target

,URI,name,text,sentiment,clean_text,nn_distance_1,full_text,full sentiment
39695,<http://dbpedia.org/resource/Christian_Bale>,Christian Bale,christian charles philip bale born 30 january ...,"(0.18916666666666665, 0.2966666666666667)","[christian, charles, philip, bale, born, 30, j...",NaN,Christian Charles Philip Bale (born 30 January...,"(0.1154168870752412, 0.31647796993806937)"
28070,<http://dbpedia.org/resource/Amy_Adams>,Amy Adams,amy lou adams born august 20 1974 is an americ...,"(0.22387387387387386, 0.28175675675675677)","[amy, lou, adam, born, august, 20, 1974, ameri...",NaN,"Amy Lou Adams (born August 20, 1974) is an Ame...","(0.1300817160367722, 0.3954665980087334)"
5875,<http://dbpedia.org/resource/Michael_Keaton>,Michael Keaton,michael john douglas born september 5 1951 bet...,"(0.1886679292929293, 0.38437499999999997)","[michael, john, douglas, born, september, 5, 1...",NaN,"Michael John Douglas (born September 5, 1951),...","(0.10917390096534484, 0.3986533430918459)"
4672,<http://dbpedia.org/resource/Daniel_Day-Lewis>,Daniel Day-Lewis,sir daniel michael blake daylewis kt born 29 a...,"(0.2114583333333333, 0.3815972222222222)","[sir, daniel, michael, blake, daylewis, kt, bo...",NaN,Sir Daniel Michael Blake Day-Lewis (born 29 Ap...,"(0.1720494282584446, 0.348486373978177)"
11156,<http://dbpedia.org/resource/Anne_Hathaway>,Anne Hathaway,anne jacqueline hathaway born november 12 1982...,"(0.25546536796536795, 0.35633116883116883)","[anne, jacqueline, hathaway, born, november, 1...",NaN,"Anne Jacqueline Hathaway (born November 12, 19...","(0.1338206836972, 0.38011790154771125)"
39923,<http://dbpedia.org/resource/Jack_Nicholson>,Jack Nicholson,john joseph jack nicholson born april 22 1937 ...,"(0.23333333333333334, 0.4002604166666667)","[john, joseph, jack, nicholson, born, april, 2...",NaN,"John Joseph Nicholson (born April 22, 1937) is...","(0.1425362244995014, 0.40812247493038506)"
34836,<http://dbpedia.org/resource/Michael_Caine>,Michael Caine,sir michael caine cbe ken born maurice joseph ...,"(0.20304054054054052, 0.32747747747747746)","[sir, michael, caine, cbe, ken, born, maurice,...",NaN,Sir Michael Caine (born Maurice Joseph Mickle...,"(0.07516953857774175, 0.36406321272043946)"
13993,<http://dbpedia.org/resource/Ralph_Fiennes>,Ralph Fiennes,ralph nathaniel twisletonwykehamfiennes ref fa...,"(0.3046875, 0.3194444444444444)","[ralph, nathaniel, twisletonwykehamfiennes, re...",NaN,Ralph Nathaniel Twisleton-Wykeham-Fiennes (; b...,"(0.10110291907166907, 0.3501971914081287)"
29556,<http://dbpedia.org/resource/Felicity_Huffman>,Felicity Huffman,felicity kendall huffman born december 9 1962 ...,"(0.215, 0.40374999999999994)","[felicity, kendall, huffman, born, december, 9...",NaN,"Felicity Kendall Huffman (born December 9, 196...","(0.12875308892496398, 0.4129040646853146)"
38372,<http://dbpedia.org/resource/Liam_Neeson>,Liam Neeson,liam john neeson obe born 7 june 1952 is an ir...,"(0.4015625, 0.40156249999999993)","[liam, john, neeson, obe, born, 7, june, 1952,...",NaN,William John Neeson (born 7 June 1952) is a N...,"(0.10508207070707073, 0.348951884435755)"
12808,<http://dbpedia.org/resource/Tom_Hanks>,Tom Hanks,thomas jeffrey tom hanks born july 9 1956 is a...,"(0.2722222222222222, 0.34583333333333327)","[thomas, jeffrey, tom, hank, born, july, 9, 19...",NaN,"Thomas Jeffrey Hanks (born July 9, 1956) is an...","(0.14874709460193328, 0.3903599512793062)"

In [45]:
tokenized_data = []

# Loop through each row in the data series
for _ in full_text_df:
    # Convert the text to a TextBlob
    blob = TextBlob(_)
    # Tokenize the text by words
    tokens = blob.words
    # Append the tokens to the new list
    tokenized_data.append(tokens)

# Convert the list of tokens back into a pandas Series if needed
tokenized_series = pd.Series(tokenized_data)
print(tokenized_series)

0     [christian, charles, philip, bale, born, 30, j...
1     [amy, lou, adams, born, august, 20, 1974, is, ...
2     [michael, john, douglas, born, september, 5, 1...
3     [sir, daniel, michael, blake, day-lewis, born,...
4     [anne, jacqueline, hathaway, born, november, 1...
5     [john, joseph, nicholson, born, april, 22, 193...
6     [sir, michael, caine, born, maurice, joseph, m...
7     [ralph, nathaniel, twisleton-wykeham-fiennes, ...
8     [felicity, kendall, huffman, born, december, 9...
9     [william, john, neeson, born, 7, june, 1952, i...
10    [thomas, jeffrey, hanks, born, july, 9, 1956, ...
dtype: object

In [46]:
stop_words = set(stopwords.words('english'))

filtered_data = tokenized_series.apply(lambda tokens: [word for word in tokens if word not in stop_words])

print(filtered_data)

0     [christian, charles, philip, bale, born, 30, j...
1     [amy, lou, adams, born, august, 20, 1974, amer...
2     [michael, john, douglas, born, september, 5, 1...
3     [sir, daniel, michael, blake, day-lewis, born,...
4     [anne, jacqueline, hathaway, born, november, 1...
5     [john, joseph, nicholson, born, april, 22, 193...
6     [sir, michael, caine, born, maurice, joseph, m...
7     [ralph, nathaniel, twisleton-wykeham-fiennes, ...
8     [felicity, kendall, huffman, born, december, 9...
9     [william, john, neeson, born, 7, june, 1952, n...
10    [thomas, jeffrey, hanks, born, july, 9, 1956, ...
dtype: object

In [47]:
lemmatizer = WordNetLemmatizer()
lemitized_data = filtered_data.apply(lambda tokens: [lemmatizer.lemmatize(word) for word in tokens])

In [48]:
target['full_clean_text']=lemitized_data

/var/folders/nl/cvxy58ks2mg_jyg002l659xc0000gn/T/ipykernel_42883/3348438177.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [49]:
text_data = [' '.join(doc) for doc in lemitized_data]

# Initialize CountVectorizer
my_vectorizer = CountVectorizer(stop_words='english')

# Fit and transform the text data
my_bow_vec = my_vectorizer.fit_transform(text_data)

# Convert the bag of words matrix to a DataFrame
#my_sent_df = pd.DataFrame(my_bow_vec.toarray(), columns=my_vectorizer.get_feature_names_out())

# Display the DataFrame
#print(my_sent_df)

In [50]:
tf_idf_vec = TfidfTransformer()
tf_idf_fit = tf_idf_vec.fit_transform(my_bow_vec)

In [51]:
nn = NearestNeighbors().fit(tf_idf_fit)

In [52]:
sent = tf_idf_fit[0]
sent.shape

(1, 7402)

In [53]:
distances, indices = nn.kneighbors(
    X = sent,
    n_neighbors=11
)

In [54]:
distance_df2 = pd.DataFrame({'indices': indices.flatten(), 'distances': distances.flatten()})

In [64]:
distance_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   indices    11 non-null     int64
 1   distances  11 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 308.0 bytes

In [56]:
target['nn_distance_2']=distance_df2['distances']

/var/folders/nl/cvxy58ks2mg_jyg002l659xc0000gn/T/ipykernel_42883/3188910678.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [57]:
target

,URI,name,text,sentiment,clean_text,nn_distance_1,full_text,full sentiment,full_clean_text,nn_distance_2
39695,<http://dbpedia.org/resource/Christian_Bale>,Christian Bale,christian charles philip bale born 30 january ...,"(0.18916666666666665, 0.2966666666666667)","[christian, charles, philip, bale, born, 30, j...",NaN,Christian Charles Philip Bale (born 30 January...,"(0.1154168870752412, 0.31647796993806937)",NaN,NaN
28070,<http://dbpedia.org/resource/Amy_Adams>,Amy Adams,amy lou adams born august 20 1974 is an americ...,"(0.22387387387387386, 0.28175675675675677)","[amy, lou, adam, born, august, 20, 1974, ameri...",NaN,"Amy Lou Adams (born August 20, 1974) is an Ame...","(0.1300817160367722, 0.3954665980087334)",NaN,NaN
5875,<http://dbpedia.org/resource/Michael_Keaton>,Michael Keaton,michael john douglas born september 5 1951 bet...,"(0.1886679292929293, 0.38437499999999997)","[michael, john, douglas, born, september, 5, 1...",NaN,"Michael John Douglas (born September 5, 1951),...","(0.10917390096534484, 0.3986533430918459)",NaN,NaN
4672,<http://dbpedia.org/resource/Daniel_Day-Lewis>,Daniel Day-Lewis,sir daniel michael blake daylewis kt born 29 a...,"(0.2114583333333333, 0.3815972222222222)","[sir, daniel, michael, blake, daylewis, kt, bo...",NaN,Sir Daniel Michael Blake Day-Lewis (born 29 Ap...,"(0.1720494282584446, 0.348486373978177)",NaN,NaN
11156,<http://dbpedia.org/resource/Anne_Hathaway>,Anne Hathaway,anne jacqueline hathaway born november 12 1982...,"(0.25546536796536795, 0.35633116883116883)","[anne, jacqueline, hathaway, born, november, 1...",NaN,"Anne Jacqueline Hathaway (born November 12, 19...","(0.1338206836972, 0.38011790154771125)",NaN,NaN
39923,<http://dbpedia.org/resource/Jack_Nicholson>,Jack Nicholson,john joseph jack nicholson born april 22 1937 ...,"(0.23333333333333334, 0.4002604166666667)","[john, joseph, jack, nicholson, born, april, 2...",NaN,"John Joseph Nicholson (born April 22, 1937) is...","(0.1425362244995014, 0.40812247493038506)",NaN,NaN
34836,<http://dbpedia.org/resource/Michael_Caine>,Michael Caine,sir michael caine cbe ken born maurice joseph ...,"(0.20304054054054052, 0.32747747747747746)","[sir, michael, caine, cbe, ken, born, maurice,...",NaN,Sir Michael Caine (born Maurice Joseph Mickle...,"(0.07516953857774175, 0.36406321272043946)",NaN,NaN
13993,<http://dbpedia.org/resource/Ralph_Fiennes>,Ralph Fiennes,ralph nathaniel twisletonwykehamfiennes ref fa...,"(0.3046875, 0.3194444444444444)","[ralph, nathaniel, twisletonwykehamfiennes, re...",NaN,Ralph Nathaniel Twisleton-Wykeham-Fiennes (; b...,"(0.10110291907166907, 0.3501971914081287)",NaN,NaN
29556,<http://dbpedia.org/resource/Felicity_Huffman>,Felicity Huffman,felicity kendall huffman born december 9 1962 ...,"(0.215, 0.40374999999999994)","[felicity, kendall, huffman, born, december, 9...",NaN,"Felicity Kendall Huffman (born December 9, 196...","(0.12875308892496398, 0.4129040646853146)",NaN,NaN
38372,<http://dbpedia.org/resource/Liam_Neeson>,Liam Neeson,liam john neeson obe born 7 june 1952 is an ir...,"(0.4015625, 0.40156249999999993)","[liam, john, neeson, obe, born, 7, june, 1952,...",NaN,William John Neeson (born 7 June 1952) is a N...,"(0.10508207070707073, 0.348951884435755)",NaN,NaN
12808,<http://dbpedia.org/resource/Tom_Hanks>,Tom Hanks,thomas jeffrey tom hanks born july 9 1956 is a...,"(0.2722222222222222, 0.34583333333333327)","[thomas, jeffrey, tom, hank, born, july, 9, 19...",NaN,"Thomas Jeffrey Hanks (born July 9, 1956) is an...","(0.14874709460193328, 0.3903599512793062)",NaN,NaN

In [62]:
fig = px.line(
    
    x = None,
    y = distance_df2['distances'])
fig.update_layout(
    title="Nearest Neighbors of Wikipedia Dataset Long Text",
    xaxis_title='50 Closest Neighbors to Christian Bale Long Text',
    yaxis_title='Distance'
    )
fig.show()

In [59]:
distance_df

    indices  distances
0     39695   0.000000
1     28070   1.201615
2      5875   1.212054
3      4672   1.212396
4     11156   1.212695
5     39923   1.217291
6     34836   1.224546
7     13993   1.233194
8     29556   1.233400
9     38372   1.235514
10    12808   1.245207

In [60]:
distance_df2

    indices  distances
0         0   0.000000
1         1   1.218762
2         3   1.289884
3         9   1.291092
4         4   1.294021
5         2   1.297877
6         7   1.315752
7         6   1.318060
8        10   1.326763
9         5   1.333833
10        8   1.345122

In [63]:
target

,URI,name,text,sentiment,clean_text,nn_distance_1,full_text,full sentiment,full_clean_text,nn_distance_2
39695,<http://dbpedia.org/resource/Christian_Bale>,Christian Bale,christian charles philip bale born 30 january ...,"(0.18916666666666665, 0.2966666666666667)","[christian, charles, philip, bale, born, 30, j...",NaN,Christian Charles Philip Bale (born 30 January...,"(0.1154168870752412, 0.31647796993806937)",NaN,NaN
28070,<http://dbpedia.org/resource/Amy_Adams>,Amy Adams,amy lou adams born august 20 1974 is an americ...,"(0.22387387387387386, 0.28175675675675677)","[amy, lou, adam, born, august, 20, 1974, ameri...",NaN,"Amy Lou Adams (born August 20, 1974) is an Ame...","(0.1300817160367722, 0.3954665980087334)",NaN,NaN
5875,<http://dbpedia.org/resource/Michael_Keaton>,Michael Keaton,michael john douglas born september 5 1951 bet...,"(0.1886679292929293, 0.38437499999999997)","[michael, john, douglas, born, september, 5, 1...",NaN,"Michael John Douglas (born September 5, 1951),...","(0.10917390096534484, 0.3986533430918459)",NaN,NaN
4672,<http://dbpedia.org/resource/Daniel_Day-Lewis>,Daniel Day-Lewis,sir daniel michael blake daylewis kt born 29 a...,"(0.2114583333333333, 0.3815972222222222)","[sir, daniel, michael, blake, daylewis, kt, bo...",NaN,Sir Daniel Michael Blake Day-Lewis (born 29 Ap...,"(0.1720494282584446, 0.348486373978177)",NaN,NaN
11156,<http://dbpedia.org/resource/Anne_Hathaway>,Anne Hathaway,anne jacqueline hathaway born november 12 1982...,"(0.25546536796536795, 0.35633116883116883)","[anne, jacqueline, hathaway, born, november, 1...",NaN,"Anne Jacqueline Hathaway (born November 12, 19...","(0.1338206836972, 0.38011790154771125)",NaN,NaN
39923,<http://dbpedia.org/resource/Jack_Nicholson>,Jack Nicholson,john joseph jack nicholson born april 22 1937 ...,"(0.23333333333333334, 0.4002604166666667)","[john, joseph, jack, nicholson, born, april, 2...",NaN,"John Joseph Nicholson (born April 22, 1937) is...","(0.1425362244995014, 0.40812247493038506)",NaN,NaN
34836,<http://dbpedia.org/resource/Michael_Caine>,Michael Caine,sir michael caine cbe ken born maurice joseph ...,"(0.20304054054054052, 0.32747747747747746)","[sir, michael, caine, cbe, ken, born, maurice,...",NaN,Sir Michael Caine (born Maurice Joseph Mickle...,"(0.07516953857774175, 0.36406321272043946)",NaN,NaN
13993,<http://dbpedia.org/resource/Ralph_Fiennes>,Ralph Fiennes,ralph nathaniel twisletonwykehamfiennes ref fa...,"(0.3046875, 0.3194444444444444)","[ralph, nathaniel, twisletonwykehamfiennes, re...",NaN,Ralph Nathaniel Twisleton-Wykeham-Fiennes (; b...,"(0.10110291907166907, 0.3501971914081287)",NaN,NaN
29556,<http://dbpedia.org/resource/Felicity_Huffman>,Felicity Huffman,felicity kendall huffman born december 9 1962 ...,"(0.215, 0.40374999999999994)","[felicity, kendall, huffman, born, december, 9...",NaN,"Felicity Kendall Huffman (born December 9, 196...","(0.12875308892496398, 0.4129040646853146)",NaN,NaN
38372,<http://dbpedia.org/resource/Liam_Neeson>,Liam Neeson,liam john neeson obe born 7 june 1952 is an ir...,"(0.4015625, 0.40156249999999993)","[liam, john, neeson, obe, born, 7, june, 1952,...",NaN,William John Neeson (born 7 June 1952) is a N...,"(0.10508207070707073, 0.348951884435755)",NaN,NaN
12808,<http://dbpedia.org/resource/Tom_Hanks>,Tom Hanks,thomas jeffrey tom hanks born july 9 1956 is a...,"(0.2722222222222222, 0.34583333333333327)","[thomas, jeffrey, tom, hank, born, july, 9, 19...",NaN,"Thomas Jeffrey Hanks (born July 9, 1956) is an...","(0.14874709460193328, 0.3903599512793062)",NaN,NaN