# Project 2: Housing Price Prediction

The project should be done using Regression prediction techniques ( with feature scaling and regularization ) as covered in class.
The goal is to minimize the RMS ***percentage*** error ( root mean squared percentage error - RMSPE ) on your prediction of the house sales price.

Any of the available features can be used in the regression, but a minimum set of variables that do the job should be the ultimate goal.

Be sure to go through the whole data science process and document as such in your Jupyter notebook.

This project will have less direct "To Do" guidance and the progression through the data science process will be more individualized this time around.
We will talk about all the issues during class so you're not going to be out on a ledge with this one, I just want to move you towards performing a data science project on your own eventually.

A data dictionary file is available at AWS S3 at [Housing Data Dictionary]( https://ddc-datascience.s3.amazonaws.com/Projects/Project.2-Housing/Housing%20-%20Data%20Documentation.pdf ).

The data is available on AWS S3 at https://ddc-datascience.s3.amazonaws.com/Projects/Project.2-Housing/Data/Housing.Data.csv .

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import statsmodels as sm
from sklearn.model_selection import train_test_split
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
import statsmodels.api as sm

In [34]:
df = pd.read_csv('/Users/joeyrobak/Downloads/Housing.Data - Housing.Data.csv')

# Here I'm just importing our data, The data is available on AWS S3 at https://ddc-datascience.s3.amazonaws.com/Projects/Project.2-Housing/Data/Housing.Data.csv .

In [35]:
df.head().transpose()

#path of least resistence, drop everything but the floats first

                        0          1          2          3          4
PID             905101070  905101330  903454090  533244030  909252020
MS SubClass            20         90         50         60         70
MS Zoning              RL         RL         RM         FV         RL
Lot Frontage         62.0       72.0       50.0       68.0       60.0
Lot Area            14299      10791       9000       7379       7200
...                   ...        ...        ...        ...        ...
Mo Sold                 7         10         12          4          4
Yr Sold              2007       2006       2007       2010       2009
Sale Type              WD         WD         WD         WD         WD
Sale Condition     Normal     Normal     Normal     Normal     Normal
SalePrice          115400      90000     141000     254000     155000

[81 rows x 5 columns]

In [36]:
df.info()
# 400 columns after hot encoding ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2637 entries, 0 to 2636
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PID              2637 non-null   int64
 1   MS SubClass      2637 non-null   int64
 2   MS Zoning        2637 non-null   object
 3   Lot Frontage     2188 non-null   float64
 4   Lot Area         2637 non-null   int64
 5   Street           2637 non-null   object
 6   Alley            180 non-null    object
 7   Lot Shape        2637 non-null   object
 8   Land Contour     2637 non-null   object
 9   Utilities        2637 non-null   object
 10  Lot Config       2637 non-null   object
 11  Land Slope       2637 non-null   object
 12  Neighborhood     2637 non-null   object
 13  Condition 1      2637 non-null   object
 14  Condition 2      2637 non-null   object
 15  Bldg Type        2637 non-null   object
 16  House Style      2637 non-null   object
 17  Overall Qual     2637 non-null   int64
 18  Overall Cond     2637 non-null   int64
 19  Year Built       2637 non-null   int64
 20  Year Remod/Add   2637 non-null   int64
 21  Roof Style       2637 non-null   object
 22  Roof Matl        2637 non-null   object
 23  Exterior 1st     2637 non-null   object
 24  Exterior 2nd     2637 non-null   object
 25  Mas Vnr Type     1030 non-null   object
 26  Mas Vnr Area     2614 non-null   float64
 27  Exter Qual       2637 non-null   object
 28  Exter Cond       2637 non-null   object
 29  Foundation       2637 non-null   object
 30  Bsmt Qual        2564 non-null   object
 31  Bsmt Cond        2564 non-null   object
 32  Bsmt Exposure    2561 non-null   object
 33  BsmtFin Type 1   2564 non-null   object
 34  BsmtFin SF 1     2636 non-null   float64
 35  BsmtFin Type 2   2563 non-null   object
 36  BsmtFin SF 2     2636 non-null   float64
 37  Bsmt Unf SF      2636 non-null   float64
 38  Total Bsmt SF    2636 non-null   float64
 39  Heating          2637 non-null   object
 40  Heating QC       2637 non-null   object
 41  Central Air      2637 non-null   object
 42  Electrical       2637 non-null   object
 43  1st Flr SF       2637 non-null   int64
 44  2nd Flr SF       2637 non-null   int64
 45  Low Qual Fin SF  2637 non-null   int64
 46  Gr Liv Area      2637 non-null   int64
 47  Bsmt Full Bath   2635 non-null   float64
 48  Bsmt Half Bath   2635 non-null   float64
 49  Full Bath        2637 non-null   int64
 50  Half Bath        2637 non-null   int64
 51  Bedroom AbvGr    2637 non-null   int64
 52  Kitchen AbvGr    2637 non-null   int64
 53  Kitchen Qual     2637 non-null   object
 54  TotRms AbvGrd    2637 non-null   int64
 55  Functional       2637 non-null   object
 56  Fireplaces       2637 non-null   int64
 57  Fireplace Qu     1353 non-null   object
 58  Garage Type      2492 non-null   object
 59  Garage Yr Blt    2490 non-null   float64
 60  Garage Finish    2490 non-null   object
 61  Garage Cars      2636 non-null   float64
 62  Garage Area      2636 non-null   float64
 63  Garage Qual      2490 non-null   object
 64  Garage Cond      2490 non-null   object
 65  Paved Drive      2637 non-null   object
 66  Wood Deck SF     2637 non-null   int64
 67  Open Porch SF    2637 non-null   int64
 68  Enclosed Porch   2637 non-null   int64
 69  3Ssn Porch       2637 non-null   int64
 70  Screen Porch     2637 non-null   int64
 71  Pool Area        2637 non-null   int64
 72  Pool QC          11 non-null     object
 73  Fence            528 non-null    object
 74  Misc Feature     96 non-null     object
 75  Misc Val         2637 non-null   int64
 76  Mo Sold          2637 non-null   int64
 77  Yr Sold          2637 non-null   int64
 78  Sale Type        2637 non-null   object
 79  Sale Condition   2637 non-null   object
 80  SalePrice        2637 non-null   int64
dtypes: float64(11), int64(27), object(43)
memory usage: 1.6+ MB

In [37]:
float_df = df.select_dtypes(include='float64')
#float_df['SalePrice'] = df['SalePrice']
#Making a copy of our dataframe so we don't modify the original, only looking at float data currently, but I included our target which is the sale price

In [38]:
int_df = df.select_dtypes(include='int64')
int_df

,PID,MS SubClass,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,1st Flr SF,2nd Flr SF,Low Qual Fin SF,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
0,905101070,20,14299,4,3,1964,1964,1005,0,0,...,0,0,0,0,0,0,0,7,2007,115400
1,905101330,90,10791,4,5,1967,1967,1296,0,0,...,0,0,0,0,0,0,500,10,2006,90000
2,903454090,50,9000,6,6,1937,1950,780,595,0,...,0,162,0,0,126,0,0,12,2007,141000
3,533244030,60,7379,8,5,2000,2000,975,873,0,...,280,184,0,0,0,0,0,4,2010,254000
4,909252020,70,7200,7,9,1936,2007,575,560,0,...,256,0,0,0,0,0,0,4,2009,155000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2632,903231070,50,6240,6,6,1934,1950,816,0,360,...,112,0,0,0,0,0,400,9,2006,114500
2633,906201021,80,10778,7,6,1990,1991,1061,0,0,...,114,36,0,0,0,0,0,7,2009,162000
2634,533253070,120,3782,8,5,1981,1981,1226,0,0,...,133,78,0,0,0,0,0,9,2009,211500
2635,527376100,20,10140,6,5,1974,1974,1350,0,0,...,0,0,0,0,0,0,0,8,2009,165000
2636,528292060,60,12460,7,5,1999,2000,1037,1285,0,...,144,44,0,0,0,0,0,5,2008,225000

In [39]:
num_df = float_df.join(int_df)
num_df

,Lot Frontage,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Bsmt Full Bath,Bsmt Half Bath,Garage Yr Blt,Garage Cars,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
0,62.0,0.0,513.0,144.0,348.0,1005.0,1.0,0.0,1964.0,2.0,...,0,0,0,0,0,0,0,7,2007,115400
1,72.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1967.0,2.0,...,0,0,0,0,0,0,500,10,2006,90000
2,50.0,0.0,0.0,0.0,780.0,780.0,0.0,0.0,1979.0,1.0,...,0,162,0,0,126,0,0,12,2007,141000
3,68.0,0.0,484.0,0.0,491.0,975.0,1.0,0.0,2000.0,2.0,...,280,184,0,0,0,0,0,4,2010,254000
4,60.0,0.0,350.0,210.0,0.0,560.0,1.0,0.0,1971.0,2.0,...,256,0,0,0,0,0,0,4,2009,155000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2632,52.0,0.0,0.0,0.0,816.0,816.0,0.0,0.0,1985.0,2.0,...,112,0,0,0,0,0,400,9,2006,114500
2633,74.0,0.0,460.0,286.0,308.0,1054.0,1.0,0.0,1990.0,2.0,...,114,36,0,0,0,0,0,7,2009,162000
2634,61.0,0.0,960.0,0.0,266.0,1226.0,1.0,0.0,1981.0,2.0,...,133,78,0,0,0,0,0,9,2009,211500
2635,78.0,174.0,0.0,0.0,1064.0,1064.0,0.0,0.0,1974.0,2.0,...,0,0,0,0,0,0,0,8,2009,165000
2636,41.0,0.0,870.0,0.0,167.0,1037.0,0.0,0.0,1999.0,2.0,...,144,44,0,0,0,0,0,5,2008,225000

In [40]:
corr = num_df.corr()
corr.style.background_gradient(cmap='coolwarm')

In [41]:
corr = num_df.corrwith(df["SalePrice"])
# Our correlation matrix of our integer data shows some clear important features to consider, Overall quality, Gr Liv Area, and Garage Cars are the most correlated with our target, "SalePrice". But we also have to factor in all the categorical columns, which we will do further down.
corr.sort_values(ascending=False)

SalePrice          1.000000
Overall Qual       0.805016
Gr Liv Area        0.705482
Garage Cars        0.647223
Garage Area        0.633900
Total Bsmt SF      0.628669
1st Flr SF         0.618247
Year Built         0.562777
Full Bath          0.542386
Year Remod/Add     0.539932
Garage Yr Blt      0.529771
Mas Vnr Area       0.506402
TotRms AbvGrd      0.493853
Fireplaces         0.468886
BsmtFin SF 1       0.427809
Lot Frontage       0.357142
Wood Deck SF       0.322060
Open Porch SF      0.310361
Half Bath          0.287063
Bsmt Full Bath     0.277328
Lot Area           0.268516
2nd Flr SF         0.268059
Bsmt Unf SF        0.174628
Bedroom AbvGr      0.131789
Screen Porch       0.091214
Pool Area          0.072427
Mo Sold            0.052800
3Ssn Porch         0.040625
BsmtFin SF 2       0.009329
Misc Val          -0.019955
Yr Sold           -0.030053
Low Qual Fin SF   -0.040838
Bsmt Half Bath    -0.042482
MS SubClass       -0.078857
Overall Cond      -0.095205
Kitchen AbvGr     -0.122953
Enclosed Porch    -0.141685
PID               -0.258332
dtype: float64

In [42]:
# First we will break up our data into training and testing sets
#X = float_df[['Garage Cars', 'Garage Area', 'Total Bsmt SF', 'Mas Vnr Area']]
#X2 = sm.add_constant(X) # add constant so that intercept is estimated
#print(X2.head())

#y = float_df['SalePrice']
#X_train, X_test, y_train, y_test = train_test_split(X2, y, test_size = 0.2, random_state=4)

In [43]:
sale_price_ds = df.iloc[:, 80]
sale_price_ds #Sale Price

0       115400
1        90000
2       141000
3       254000
4       155000
         ...
2632    114500
2633    162000
2634    211500
2635    165000
2636    225000
Name: SalePrice, Length: 2637, dtype: int64

In [44]:
df.isna().sum()

PID                 0
MS SubClass         0
MS Zoning           0
Lot Frontage      449
Lot Area            0
                 ...
Mo Sold             0
Yr Sold             0
Sale Type           0
Sale Condition      0
SalePrice           0
Length: 81, dtype: int64

In [45]:
cat_df = df.select_dtypes(include=['object'])
cat_df

,MS Zoning,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,...,Garage Type,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Pool QC,Fence,Misc Feature,Sale Type,Sale Condition
0,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Sawyer,Feedr,...,Detchd,Unf,TA,TA,N,NaN,MnPrv,NaN,WD,Normal
1,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Sawyer,Norm,...,CarPort,Unf,TA,TA,Y,NaN,NaN,Shed,WD,Normal
2,RM,Pave,NaN,Reg,Bnk,AllPub,Inside,Gtl,IDOTRR,Norm,...,Detchd,Unf,TA,TA,P,NaN,NaN,NaN,WD,Normal
3,FV,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Somerst,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
4,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,SWISU,Feedr,...,Detchd,RFn,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2632,RM,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,BrkSide,Norm,...,Detchd,Unf,TA,TA,Y,NaN,MnPrv,Shed,WD,Normal
2633,RL,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,SawyerW,Feedr,...,Attchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
2634,RL,Pave,NaN,IR1,Lvl,AllPub,CulDSac,Gtl,Greens,Norm,...,Attchd,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal
2635,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,Norm,...,Attchd,RFn,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
2636,RL,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,Gilbert,RRAn,...,BuiltIn,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal

In [46]:
cat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2637 entries, 0 to 2636
Data columns (total 43 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MS Zoning       2637 non-null   object
 1   Street          2637 non-null   object
 2   Alley           180 non-null    object
 3   Lot Shape       2637 non-null   object
 4   Land Contour    2637 non-null   object
 5   Utilities       2637 non-null   object
 6   Lot Config      2637 non-null   object
 7   Land Slope      2637 non-null   object
 8   Neighborhood    2637 non-null   object
 9   Condition 1     2637 non-null   object
 10  Condition 2     2637 non-null   object
 11  Bldg Type       2637 non-null   object
 12  House Style     2637 non-null   object
 13  Roof Style      2637 non-null   object
 14  Roof Matl       2637 non-null   object
 15  Exterior 1st    2637 non-null   object
 16  Exterior 2nd    2637 non-null   object
 17  Mas Vnr Type    1030 non-null   object
 18  Exter Qual      2637 non-null   object
 19  Exter Cond      2637 non-null   object
 20  Foundation      2637 non-null   object
 21  Bsmt Qual       2564 non-null   object
 22  Bsmt Cond       2564 non-null   object
 23  Bsmt Exposure   2561 non-null   object
 24  BsmtFin Type 1  2564 non-null   object
 25  BsmtFin Type 2  2563 non-null   object
 26  Heating         2637 non-null   object
 27  Heating QC      2637 non-null   object
 28  Central Air     2637 non-null   object
 29  Electrical      2637 non-null   object
 30  Kitchen Qual    2637 non-null   object
 31  Functional      2637 non-null   object
 32  Fireplace Qu    1353 non-null   object
 33  Garage Type     2492 non-null   object
 34  Garage Finish   2490 non-null   object
 35  Garage Qual     2490 non-null   object
 36  Garage Cond     2490 non-null   object
 37  Paved Drive     2637 non-null   object
 38  Pool QC         11 non-null     object
 39  Fence           528 non-null    object
 40  Misc Feature    96 non-null     object
 41  Sale Type       2637 non-null   object
 42  Sale Condition  2637 non-null   object
dtypes: object(43)
memory usage: 886.0+ KB

In [47]:
cat_df.drop("Misc Feature", axis = 1, inplace=True)
cat_df.drop("Pool QC", axis = 1, inplace=True)
cat_df.drop("Fence", axis = 1, inplace=True)
cat_df.drop("Mas Vnr Type", axis = 1, inplace=True)
cat_df.drop("Alley", axis = 1, inplace=True)
cat_df.drop("Fireplace Qu", axis = 1, inplace=True)

In [48]:
cat_df.info()
# Since we have so many features to look at, dropping the features that were very incomplete is the best route to go.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2637 entries, 0 to 2636
Data columns (total 37 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MS Zoning       2637 non-null   object
 1   Street          2637 non-null   object
 2   Lot Shape       2637 non-null   object
 3   Land Contour    2637 non-null   object
 4   Utilities       2637 non-null   object
 5   Lot Config      2637 non-null   object
 6   Land Slope      2637 non-null   object
 7   Neighborhood    2637 non-null   object
 8   Condition 1     2637 non-null   object
 9   Condition 2     2637 non-null   object
 10  Bldg Type       2637 non-null   object
 11  House Style     2637 non-null   object
 12  Roof Style      2637 non-null   object
 13  Roof Matl       2637 non-null   object
 14  Exterior 1st    2637 non-null   object
 15  Exterior 2nd    2637 non-null   object
 16  Exter Qual      2637 non-null   object
 17  Exter Cond      2637 non-null   object
 18  Foundation      2637 non-null   object
 19  Bsmt Qual       2564 non-null   object
 20  Bsmt Cond       2564 non-null   object
 21  Bsmt Exposure   2561 non-null   object
 22  BsmtFin Type 1  2564 non-null   object
 23  BsmtFin Type 2  2563 non-null   object
 24  Heating         2637 non-null   object
 25  Heating QC      2637 non-null   object
 26  Central Air     2637 non-null   object
 27  Electrical      2637 non-null   object
 28  Kitchen Qual    2637 non-null   object
 29  Functional      2637 non-null   object
 30  Garage Type     2492 non-null   object
 31  Garage Finish   2490 non-null   object
 32  Garage Qual     2490 non-null   object
 33  Garage Cond     2490 non-null   object
 34  Paved Drive     2637 non-null   object
 35  Sale Type       2637 non-null   object
 36  Sale Condition  2637 non-null   object
dtypes: object(37)
memory usage: 762.4+ KB

In [68]:
for col in cat_df:
    print(df[col].value_counts()/df[col].notna().sum())
    
    # Here we are looking at the distribution in our categorical data sets. Since these are nominal data sets, we can hot encode our columns

MS Zoning
RL         0.774744
RM         0.158893
FV         0.046644
C (all)    0.009480
RH         0.008722
I (all)    0.000758
A (agr)    0.000758
Name: count, dtype: float64
Street
Pave    0.995449
Grvl    0.004551
Name: count, dtype: float64
Alley
Grvl    0.616667
Pave    0.383333
Name: count, dtype: float64
Lot Shape
Reg    0.630262
IR1    0.339401
IR2    0.024649
IR3    0.005688
Name: count, dtype: float64
Land Contour
Lvl    0.896852
HLS    0.042093
Bnk    0.040197
Low    0.020857
Name: count, dtype: float64
Utilities
AllPub    0.998862
NoSewr    0.000758
NoSeWa    0.000379
Name: count, dtype: float64
Lot Config
Inside     0.729617
Corner     0.174061
CulDSac    0.060675
FR2        0.030717
FR3        0.004930
Name: count, dtype: float64
Land Slope
Gtl    0.952218
Mod    0.042473
Sev    0.005309
Name: count, dtype: float64
Neighborhood
NAmes      0.150550
CollgCr    0.091013
OldTown    0.082670
Edwards    0.063709
Somerst    0.061054
NridgHt    0.056883
Gilbert    0.056504
Sawyer     0.052332
NWAmes     0.043989
SawyerW    0.041714
Mitchel    0.039818
BrkSide    0.036784
Crawfor    0.036026
IDOTRR     0.031854
NoRidge    0.024649
Timber     0.023512
StoneBr    0.018582
SWISU      0.016686
ClearCr    0.014790
MeadowV    0.012893
BrDale     0.010618
Veenker    0.009101
Blmngtn    0.008722
NPkVill    0.007584
Blueste    0.003792
Greens     0.003034
GrnHill    0.000758
Landmrk    0.000379
Name: count, dtype: float64
Condition 1
Norm      0.861964
Feedr     0.056124
Artery    0.031475
RRAn      0.015927
PosN      0.012135
RRAe      0.010239
PosA      0.007205
RRNn      0.003034
RRNe      0.001896
Name: count, dtype: float64
Condition 2
Norm      0.989382
Feedr     0.004171
Artery    0.001896
PosA      0.001517
PosN      0.001517
RRNn      0.000758
RRAe      0.000379
RRAn      0.000379
Name: count, dtype: float64
Bldg Type
1Fam      0.829352
TwnhsE    0.079636
Duplex    0.036026
Twnhs     0.034130
2fmCon    0.020857
Name: count, dtype: float64
House Style
1Story    0.503223
2Story    0.303375
1.5Fin    0.104664
SLvl      0.042852
SFoyer    0.028821
2.5Unf    0.007964
1.5Unf    0.006447
2.5Fin    0.002655
Name: count, dtype: float64
Roof Style
Gable      0.791050
Hip        0.188851
Gambrel    0.007964
Flat       0.006826
Mansard    0.003413
Shed       0.001896
Name: count, dtype: float64
Roof Matl
CompShg    0.985590
Tar&Grv    0.007584
WdShake    0.003034
WdShngl    0.002275
Roll       0.000379
Membran    0.000379
Metal      0.000379
ClyTile    0.000379
Name: count, dtype: float64
Exterior 1st
VinylSd    0.347364
MetalSd    0.155859
HdBoard    0.152825
Wd Sdng    0.144103
Plywood    0.073948
CemntBd    0.043231
BrkFace    0.029200
WdShing    0.018961
AsbShng    0.016686
Stucco     0.013652
BrkComm    0.001138
CBlock     0.000758
Stone      0.000758
AsphShn    0.000758
PreCast    0.000379
ImStucc    0.000379
Name: count, dtype: float64
Exterior 2nd
VinylSd    0.343572
MetalSd    0.154721
HdBoard    0.139553
Wd Sdng    0.133864
Plywood    0.092529
CmentBd    0.043231
Wd Shng    0.028821
BrkFace    0.015927
Stucco     0.015169
AsbShng    0.014410
Brk Cmn    0.007205
ImStucc    0.005688
Stone      0.002275
AsphShn    0.001138
CBlock     0.001138
PreCast    0.000379
Other      0.000379
Name: count, dtype: float64
Mas Vnr Type
BrkFace    0.759223
Stone      0.217476
BrkCmn     0.022330
CBlock     0.000971
Name: count, dtype: float64
Exter Qual
TA    0.612059
Gd    0.339022
Ex    0.036405
Fa    0.012514
Name: count, dtype: float64
Exter Cond
TA    0.868411
Gd    0.103527
Fa    0.023512
Ex    0.003413
Po    0.001138
Name: count, dtype: float64
Foundation
PConc     0.449374
CBlock    0.423208
BrkTil    0.105423
Slab      0.016686
Stone     0.004171
Wood      0.001138
Name: count, dtype: float64
Bsmt Qual
TA    0.467956
Gd    0.414486
Ex    0.086841
Fa    0.029958
Po    0.000758
Name: count, dtype: float64
Bsmt Cond
TA    0.919657
Gd    0.041732
Fa    0.035881
Po    0.001950
Ex    0.000780
Name: count, dtype: float64
Bsmt Exposure
No    0.672394
Av    0.146427
Gd    0.096837
Mn    0.084342
Name: count, dtype: float64
BsmtFin Type 1
Unf    0.299532
GLQ    0.295632
ALQ    0.154836
Rec    0.102184
BLQ    0.092434
LwQ    0.055382
Name: count, dtype: float64
BsmtFin Type 2
Unf    0.875927
Rec    0.039017
LwQ    0.029653
BLQ    0.023410
ALQ    0.019508
GLQ    0.012485
Name: count, dtype: float64
Heating
GasA     0.984831
GasW     0.008722
Grav     0.003413
Wall     0.001896
OthW     0.000758
Floor    0.000379
Name: count, dtype: float64
Heating QC
Ex    0.513841
TA    0.295032
Gd    0.158893
Fa    0.031096
Po    0.001138
Name: count, dtype: float64
Central Air
Y    0.932878
N    0.067122
Name: count, dtype: float64
Electrical
SBrkr    0.915434
FuseA    0.065226
FuseF    0.015927
FuseP    0.003034
Mix      0.000379
Name: count, dtype: float64
Kitchen Qual
TA    0.508912
Gd    0.398938
Ex    0.069776
Fa    0.022374
Name: count, dtype: float64
Functional
Typ     0.930224
Min2    0.023891
Min1    0.021995
Mod     0.012135
Maj1    0.006826
Maj2    0.003413
Sal     0.000758
Sev     0.000758
Name: count, dtype: float64
Fireplace Qu
Gd    0.498891
TA    0.397635
Fa    0.047302
Po    0.033259
Ex    0.022912
Name: count, dtype: float64
Garage Type
Attchd     0.627207
Detchd     0.281701
BuiltIn    0.066212
Basment    0.011236
2Types     0.008026
CarPort    0.005618
Name: count, dtype: float64
Garage Finish
Unf    0.444177
RFn    0.293173
Fin    0.262651
Name: count, dtype: float64
Garage Qual
TA    0.946185
Fa    0.042570
Gd    0.008032
Po    0.002008
Ex    0.001205
Name: count, dtype: float64
Garage Cond
TA    0.963855
Fa    0.024096
Po    0.005622
Gd    0.005622
Ex    0.000803
Name: count, dtype: float64
Paved Drive
Y    0.908229
N    0.070914
P    0.020857
Name: count, dtype: float64
Pool QC
Gd    0.363636
Ex    0.272727
Fa    0.181818
TA    0.181818
Name: count, dtype: float64
Fence
MnPrv    0.579545
GdPrv    0.204545
GdWo     0.195076
MnWw     0.020833
Name: count, dtype: float64
Misc Feature
Shed    0.906250
Gar2    0.041667
Othr    0.041667
TenC    0.010417
Name: count, dtype: float64
Sale Type
WD       0.866894
New      0.081911
COD      0.029579
ConLD    0.007964
CWD      0.004171
ConLI    0.002655
Oth      0.002275
ConLw    0.002275
Con      0.001896
VWD      0.000379
Name: count, dtype: float64
Sale Condition
Normal     0.821388
Partial    0.084187
Abnorml    0.065984
Family     0.016686
Alloca     0.007964
AdjLand    0.003792
Name: count, dtype: float64

In [51]:
null_rows = cat_df[cat_df.isna().any(axis=1)]

print(null_rows)
null_drop_df = cat_df.drop(null_rows, axis =1)

     MS Zoning Street Lot Shape Land Contour Utilities Lot Config Land Slope  \
1           RL   Pave       Reg          Lvl    AllPub     Inside        Gtl
42          RL   Pave       Reg          Lvl    AllPub     Corner        Gtl
52          RL   Pave       Reg          Lvl    AllPub     Corner        Gtl
71          RM   Pave       Reg          Lvl    AllPub     Inside        Gtl
82          RM   Pave       Reg          Lvl    AllPub     Inside        Gtl
...        ...    ...       ...          ...       ...        ...        ...
2567        RM   Pave       Reg          Lvl    AllPub     Corner        Gtl
2603        RL   Pave       Reg          Lvl    AllPub     Inside        Gtl
2604        RM   Pave       Reg          Lvl    AllPub     Inside        Gtl
2608        RL   Pave       Reg          Lvl    AllPub     Corner        Gtl
2624        RL   Pave       Reg          Lvl    AllPub     Inside        Gtl

     Neighborhood Condition 1 Condition 2  ... Electrical Kitchen Qual  \
1          Sawyer        Norm        Norm  ...      SBrkr           TA
42          NAmes      Artery        Norm  ...      SBrkr           TA
52        Edwards        Norm        Norm  ...      SBrkr           TA
71        OldTown        Norm        Norm  ...      FuseA           TA
82        OldTown        Norm        Norm  ...      SBrkr           TA
...           ...         ...         ...  ...        ...          ...
2567      OldTown      Artery        Norm  ...      SBrkr           Fa
2603      Edwards       Feedr        Norm  ...      FuseA           TA
2604      OldTown        Norm        Norm  ...      SBrkr           TA
2608      Edwards      Artery        Norm  ...      FuseF           TA
2624      OldTown        Norm        Norm  ...      SBrkr           TA

     Functional Garage Type Garage Finish Garage Qual Garage Cond Paved Drive  \
1           Typ     CarPort           Unf          TA          TA           Y
42          Typ         NaN           NaN         NaN         NaN           N
52         Min2         NaN           NaN         NaN         NaN           N
71          Typ         NaN           NaN         NaN         NaN           N
82          Typ         NaN           NaN         NaN         NaN           Y
...         ...         ...           ...         ...         ...         ...
2567        Typ         NaN           NaN         NaN         NaN           N
2603        Typ         NaN           NaN         NaN         NaN           P
2604        Typ         NaN           NaN         NaN         NaN           N
2608        Typ         NaN           NaN         NaN         NaN           N
2624        Typ      Detchd           Unf          Fa          TA           N

     Sale Type Sale Condition
1           WD         Normal
42          WD        Abnorml
52          WD         Normal
71          WD         Normal
82          WD        Abnorml
...        ...            ...
2567        WD         Normal
2603        WD         Normal
2604        WD         Normal
2608        WD         Normal
2624        WD         Normal

[211 rows x 37 columns]

In [52]:
null_drop_df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[2637 rows x 0 columns]

In [66]:
mode = cat_df['Bsmt Qual'].value_counts().index[0]

# Fill missing values with the mode
cat_df['Bsmt Qual'].fillna(mode, inplace=True)

/var/folders/nl/cvxy58ks2mg_jyg002l659xc0000gn/T/ipykernel_17823/3078647145.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cat_df['Bsmt Qual'].fillna(mode, inplace=True)

In [ ]:
 19  Bsmt Qual       2564 
 20  Bsmt Cond       2564 
 21  Bsmt Exposure   2561 
 22  BsmtFin Type 1  2564 
 23  BsmtFin Type 2  2563 
 30  Garage Type     2492 
 31  Garage Finish   2490 
 32  Garage Qual     2490 
 33  Garage Cond     2490

In [53]:
cat_df2 = cat_df.copy()

In [63]:
imp = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')
simp_impute_cat_df2 = imp.fit_transform(cat_df2)
pd.DataFrame( simp_impute_cat_df2, columns = simp_impute_cat_df2.Index(range(2637)))

AttributeError: 'numpy.ndarray' object has no attribute 'Index'

In [56]:
imp = IterativeImputer(max_iter=10, random_state = 4)
my_df_iter_impute = imp.fit_transform(my_)
pd.DataFrame( my_df_iter_impute, columns = my_df.columns )

NameError: name 'my_df' is not defined

In [27]:
# Define the columns
A = ['Alley']
B = ['Foundation'] #'Has_Alley'] # Example of multiple columns in B
# Count values for A and B
counts_A = cat_df[A].value_counts(dropna=True).reset_index()
counts_B = cat_df[B].value_counts(dropna=True).reset_index()

# Merge the dataframes on multiple columns in B
merged_df = pd.merge(
    counts_A,
    counts_B,
    on=B,
    suffixes=('_A', '_B'))
#)

# Calculate marginal probabilities
merged_df['marg_prob'] = merged_df['count_A'] / merged_df['count_B'] * 100

# Display the resulting dataframe
merged_df

KeyError: "None of [Index(['Alley'], dtype='object')] are in the [columns]"

In [16]:
(df["Street"] == 'Pave').sum(), (df["Foundation"] == 'PConc').sum()

(np.int64(2625), np.int64(1185))

In [18]:
#(df["Street"] == 'Pave') & (df["Foundation"] == 'PConc').sum()/len(df)
# This is a joint probability

In [19]:
((df["Foundation"] == 'PConc') & (df["Street"] == 'Pave')).sum()/len(df)

np.float64(0.44899507015547974)

In [20]:
df[['Street', 'Foundation']].value_counts() / df[['Street', 'Foundation']].value_counts().sum()

Street  Foundation
Pave    PConc         0.448995
        CBlock        0.419795
        BrkTil        0.105044
        Slab          0.016686
        Stone         0.003792
Grvl    CBlock        0.003413
Pave    Wood          0.001138
Grvl    BrkTil        0.000379
        PConc         0.000379
        Stone         0.000379
Name: count, dtype: float64

In [19]:
# Assuming df is your DataFrame with 43 categorical columns
cols = float_df.columns

joint_probabilities = {}

# Loop through each pair of columns
for i in range(len(cols)):
    for j in range(i + 1, len(cols)):
        col1, col2 = cols[i], cols[j]
        # Create cross-tabulation (contingency table)
        crosstab = pd.crosstab(df[col1], df[col2])
        # Normalize by total number of rows to get joint probability
        joint_prob = crosstab / len(df)
        # Store in dictionary
        joint_probabilities[(col1, col2)] = joint_prob

# joint_probabilities dictionary now holds joint probabilities for each pair of columns

In [21]:
pairs = ['Street', 'Heating']
df[pairs].value_counts()/df[pairs].value_counts().sum()*100

# for all of our categorical pairs we have 43 total columns, and so we have ((43*43)-43)/2. subtract 43 because we don't need to compare against itself and divide by 2 since there are pairs

Street  Heating
Pave    GasA       98.028062
        GasW        0.872203
Grvl    GasA        0.455063
Pave    Grav        0.341297
        Wall        0.189609
        OthW        0.075844
        Floor       0.037922
Name: count, dtype: float64

In [18]:
# Fit a linear model using statsmodels
myfit = sm.OLS(y_train, X_train).fit()
myfit.summary()

NameError: name 'y_train' is not defined

In [41]:
housing_df = df

In [43]:
categorical_cols = housing_df.select_dtypes(include = 'object')

categorical_cols['Neighborhood'].value_counts()

categorical_cols.transpose()

for col in categorical_cols:
    print(f"Value counts for {col}:")
    total = len(housing_df)
    print(categorical_cols[col].value_counts(dropna = False)/ total * 100)
    print("\n")

pairs = ['Street', 'Heating'] #and... how many pairs are there in a symmetrical matrix? (don't include the diagonal, itself with itself) 43x43 - 43(take out diagonals)/2 (because only need one triangle of the matrix): 43x21 = 903 possible pairs
categorical_cols[pairs].value_counts()/categorical_cols[pairs].value_counts().sum()*100

A = 'Street'
B = 'Heating'


pairs = [A, B] #and... how many pairs are there in a symmetrical matrix? (don't include the diagonal, itself with itself) 43x43 - 43(take out diagonals)/2 (because only need one triangle of the matrix): 43x21 = 903 possible pairs

categorical_cols[pairs].value_counts()/(2585 + 12)
categorical_cols[pairs].value_counts()/(categorical_cols[B] == 'GasA').sum()
categorical_cols[pairs].value_counts() , categorical_cols[B].value_counts()
(categorical_cols[pairs].value_counts()).reset_index() ,
categorical_cols[B].value_counts().reset_index()

((categorical_cols[pairs].value_counts()).reset_index() ,
categorical_cols[B].value_counts().reset_index())

merged_df = pd.merge((categorical_cols[pairs].value_counts()).reset_index() ,
categorical_cols[B].value_counts().reset_index(), on = B)
merged_df

merged_df['marg_prob'] = merged_df['count_x']/merged_df['count_y'] * 100
merged_df

B =['Street']
A = ['Alley'] #shout out to the pc haters #and... how many pairs are there in a symmetrical matrix? (don't include the diagonal, itself with itself) 43x43 - 43(take out diagonals)/2 (because only need one triangle of the matrix): 43x21 = 903 possible pairs
merged_df = pd.merge(
    categorical_cols[A + B].value_counts(dropna = True).reset_index() ,
    categorical_cols[B].value_counts(dropna = True).reset_index(),
    on = B
  )
merged_df['marg_prob'] = merged_df['count_x']/merged_df['count_y'] * 100
merged_df

categorical_cols.head()

# Define the columns
B = ['Street', 'Utilities']  # Example of multiple columns in B
A = ['Alley']
A = A + B


# Count values for A and B
counts_A = categorical_cols[A].value_counts(dropna=False).reset_index()
counts_B = categorical_cols[B].value_counts(dropna=False).reset_index()
counts_A, counts_B

# Merge the dataframes on multiple columns in B
merged_df = pd.merge(
    counts_A,
    counts_B,
    on=B,
    suffixes=('_A', '_B')
)
merged_df


# Calculate marginal probabilities
merged_df['marg_prob'] = merged_df['count_A'] / merged_df['count_B'] * 100

# Display the resulting dataframe
merged_df

categorical_cols['Has_Alley'] = categorical_cols['Alley'].notna()
# Define the columns
A = ['Alley']
B = ['Street', 'Utilities', 'Has_Alley'] # Example of multiple columns in B

# Count values for A and B
counts_A = categorical_cols[A + B].value_counts(dropna=False).reset_index()
counts_B = categorical_cols[B].value_counts(dropna=False).reset_index()

# Merge the dataframes on multiple columns in B
merged_df = pd.merge(
    counts_A,
    counts_B,
    on=B,
    suffixes=('_A', '_B')
)


# Calculate marginal probabilities
merged_df['marg_prob'] = merged_df['count_A'] / merged_df['count_B'] * 100

# Display the resulting dataframe
merged_df



## Exploratory Data Analysis

Value counts for MS Zoning:
MS Zoning
RL         77.474403
RM         15.889268
FV          4.664391
C (all)     0.948047
RH          0.872203
I (all)     0.075844
A (agr)     0.075844
Name: count, dtype: float64


Value counts for Street:
Street
Pave    99.544937
Grvl     0.455063
Name: count, dtype: float64


Value counts for Alley:
Alley
NaN     93.174061
Grvl     4.209329
Pave     2.616610
Name: count, dtype: float64


Value counts for Lot Shape:
Lot Shape
Reg    63.026166
IR1    33.940083
IR2     2.464922
IR3     0.568828
Name: count, dtype: float64


Value counts for Land Contour:
Land Contour
Lvl    89.685248
HLS     4.209329
Bnk     4.019719
Low     2.085703
Name: count, dtype: float64


Value counts for Utilities:
Utilities
AllPub    99.886234
NoSewr     0.075844
NoSeWa     0.037922
Name: count, dtype: float64


Value counts for Lot Config:
Lot Config
Inside     72.961699
Corner     17.406143
CulDSac     6.067501
FR2         3.071672
FR3         0.492984
Name: count, dtype: float64


Value counts for Land Slope:
Land Slope
Gtl    95.221843
Mod     4.247251
Sev     0.530906
Name: count, dtype: float64


Value counts for Neighborhood:
Neighborhood
NAmes      15.054987
CollgCr     9.101251
OldTown     8.266970
Edwards     6.370876
Somerst     6.105423
NridgHt     5.688282
Gilbert     5.650360
Sawyer      5.233220
NWAmes      4.398938
SawyerW     4.171407
Mitchel     3.981797
BrkSide     3.678422
Crawfor     3.602579
IDOTRR      3.185438
NoRidge     2.464922
Timber      2.351157
StoneBr     1.858172
SWISU       1.668563
ClearCr     1.478953
MeadowV     1.289344
BrDale      1.061813
Veenker     0.910125
Blmngtn     0.872203
NPkVill     0.758438
Blueste     0.379219
Greens      0.303375
GrnHill     0.075844
Landmrk     0.037922
Name: count, dtype: float64


Value counts for Condition 1:
Condition 1
Norm      86.196435
Feedr      5.612438
Artery     3.147516
RRAn       1.592719
PosN       1.213500
RRAe       1.023891
PosA       0.720516
RRNn       0.303375
RRNe       0.189609
Name: count, dtype: float64


Value counts for Condition 2:
Condition 2
Norm      98.938187
Feedr      0.417141
Artery     0.189609
PosA       0.151688
PosN       0.151688
RRNn       0.075844
RRAe       0.037922
RRAn       0.037922
Name: count, dtype: float64


Value counts for Bldg Type:
Bldg Type
1Fam      82.935154
TwnhsE     7.963595
Duplex     3.602579
Twnhs      3.412969
2fmCon     2.085703
Name: count, dtype: float64


Value counts for House Style:
House Style
1Story    50.322336
2Story    30.337505
1.5Fin    10.466439
SLvl       4.285173
SFoyer     2.882063
2.5Unf     0.796359
1.5Unf     0.644672
2.5Fin     0.265453
Name: count, dtype: float64


Value counts for Roof Style:
Roof Style
Gable      79.105044
Hip        18.885097
Gambrel     0.796359
Flat        0.682594
Mansard     0.341297
Shed        0.189609
Name: count, dtype: float64


Value counts for Roof Matl:
Roof Matl
CompShg    98.558969
Tar&Grv     0.758438
WdShake     0.303375
WdShngl     0.227531
Roll        0.037922
Membran     0.037922
Metal       0.037922
ClyTile     0.037922
Name: count, dtype: float64


Value counts for Exterior 1st:
Exterior 1st
VinylSd    34.736443
MetalSd    15.585893
HdBoard    15.282518
Wd Sdng    14.410315
Plywood     7.394767
CemntBd     4.323094
BrkFace     2.919985
WdShing     1.896094
AsbShng     1.668563
Stucco      1.365188
BrkComm     0.113766
CBlock      0.075844
Stone       0.075844
AsphShn     0.075844
PreCast     0.037922
ImStucc     0.037922
Name: count, dtype: float64


Value counts for Exterior 2nd:
Exterior 2nd
VinylSd    34.357224
MetalSd    15.472127
HdBoard    13.955252
Wd Sdng    13.386424
Plywood     9.252939
CmentBd     4.323094
Wd Shng     2.882063
BrkFace     1.592719
Stucco      1.516875
AsbShng     1.441031
Brk Cmn     0.720516
ImStucc     0.568828
Stone       0.227531
AsphShn     0.113766
CBlock      0.113766
PreCast     0.037922
Other       0.037922
Name: count, dtype: float64


Value counts for Mas Vnr Type:
Mas Vnr Type
NaN        60.940463
BrkFace    29.654911
Stone       8.494501
BrkCmn      0.872203
CBlock      0.037922
Name: count, dtype: float64


Value counts for Exter Qual:
Exter Qual
TA    61.205916
Gd    33.902162
Ex     3.640501
Fa     1.251422
Name: count, dtype: float64


Value counts for Exter Cond:
Exter Cond
TA    86.841107
Gd    10.352673
Fa     2.351157
Ex     0.341297
Po     0.113766
Name: count, dtype: float64


Value counts for Foundation:
Foundation
PConc     44.937429
CBlock    42.320819
BrkTil    10.542283
Slab       1.668563
Stone      0.417141
Wood       0.113766
Name: count, dtype: float64


Value counts for Bsmt Qual:
Bsmt Qual
TA     44.027304
Gd     41.448616
Ex      8.684111
Fa      2.995829
NaN     2.768297
Po      0.075844
Name: count, dtype: float64


Value counts for Bsmt Cond:
Bsmt Cond
TA     89.419795
Gd      4.057641
Fa      3.488813
NaN     2.768297
Po      0.189609
Ex      0.075844
Name: count, dtype: float64


Value counts for Bsmt Exposure:
Bsmt Exposure
No     65.301479
Av     14.220705
Gd      9.404626
Mn      8.191126
NaN     2.882063
Name: count, dtype: float64


Value counts for BsmtFin Type 1:
BsmtFin Type 1
Unf    29.124005
GLQ    28.744786
ALQ    15.054987
Rec     9.935533
BLQ     8.987486
LwQ     5.384907
NaN     2.768297
Name: count, dtype: float64


Value counts for BsmtFin Type 2:
BsmtFin Type 2
Unf    85.134623
Rec     3.792188
LwQ     2.882063
NaN     2.806219
BLQ     2.275313
ALQ     1.896094
GLQ     1.213500
Name: count, dtype: float64


Value counts for Heating:
Heating
GasA     98.483125
GasW      0.872203
Grav      0.341297
Wall      0.189609
OthW      0.075844
Floor     0.037922
Name: count, dtype: float64


Value counts for Heating QC:
Heating QC
Ex    51.384149
TA    29.503223
Gd    15.889268
Fa     3.109594
Po     0.113766
Name: count, dtype: float64


Value counts for Central Air:
Central Air
Y    93.287827
N     6.712173
Name: count, dtype: float64


Value counts for Electrical:
Electrical
SBrkr    91.543421
FuseA     6.522564
FuseF     1.592719
FuseP     0.303375
Mix       0.037922
Name: count, dtype: float64


Value counts for Kitchen Qual:
Kitchen Qual
TA    50.891164
Gd    39.893819
Ex     6.977626
Fa     2.237391
Name: count, dtype: float64


Value counts for Functional:
Functional
Typ     93.022374
Min2     2.389078
Min1     2.199469
Mod      1.213500
Maj1     0.682594
Maj2     0.341297
Sal      0.075844
Sev      0.075844
Name: count, dtype: float64


Value counts for Fireplace Qu:
Fireplace Qu
NaN    48.691695
Gd     25.597270
TA     20.401972
Fa      2.427000
Po      1.706485
Ex      1.175578
Name: count, dtype: float64


Value counts for Garage Type:
Garage Type
Attchd     59.271900
Detchd     26.621160
BuiltIn     6.257110
NaN         5.498673
Basment     1.061813
2Types      0.758438
CarPort     0.530906
Name: count, dtype: float64


Value counts for Garage Finish:
Garage Finish
Unf    41.941600
RFn    27.682973
Fin    24.800910
NaN     5.574516
Name: count, dtype: float64


Value counts for Garage Qual:
Garage Qual
TA     89.343951
NaN     5.574516
Fa      4.019719
Gd      0.758438
Po      0.189609
Ex      0.113766
Name: count, dtype: float64


Value counts for Garage Cond:
Garage Cond
TA     91.012514
NaN     5.574516
Fa      2.275313
Po      0.530906
Gd      0.530906
Ex      0.075844
Name: count, dtype: float64


Value counts for Paved Drive:
Paved Drive
Y    90.822905
N     7.091392
P     2.085703
Name: count, dtype: float64


Value counts for Pool QC:
Pool QC
NaN    99.582859
Gd      0.151688
Ex      0.113766
Fa      0.075844
TA      0.075844
Name: count, dtype: float64


Value counts for Fence:
Fence
NaN      79.977247
MnPrv    11.604096
GdPrv     4.095563
GdWo      3.905954
MnWw      0.417141
Name: count, dtype: float64


Value counts for Misc Feature:
Misc Feature
NaN     96.359499
Shed     3.299204
Gar2     0.151688
Othr     0.151688
TenC     0.037922
Name: count, dtype: float64


Value counts for Sale Type:
Sale Type
WD       86.689420
New       8.191126
COD       2.957907
ConLD     0.796359
CWD       0.417141
ConLI     0.265453
Oth       0.227531
ConLw     0.227531
Con       0.189609
VWD       0.037922
Name: count, dtype: float64


Value counts for Sale Condition:
Sale Condition
Normal     82.138794
Partial     8.418658
Abnorml     6.598407
Family      1.668563
Alloca      0.796359
AdjLand     0.379219
Name: count, dtype: float64

  Alley Street Utilities  Has_Alley  count_A  count_B   marg_prob
0   NaN   Pave    AllPub      False     2443     2443  100.000000
1  Grvl   Pave    AllPub       True      111      180   61.666667
2  Pave   Pave    AllPub       True       69      180   38.333333
3   NaN   Grvl    AllPub      False       11       11  100.000000
4   NaN   Grvl    NoSewr      False        1        1  100.000000
5   NaN   Pave    NoSeWa      False        1        1  100.000000
6   NaN   Pave    NoSewr      False        1        1  100.000000